<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>GroupName</key>
	<string>appserverusr</string>
	<key>Label</key>
	<string>org.projectwonder.womonitor</string>
	<key>OnDemand</key>
	<false/>
	<key>Program</key>
	<string>/Library/WebObjects/JavaApplications/JavaMonitor.woa/JavaMonitor</string>
	<key>ProgramArguments</key>
	<array>
		<string>JavaMonitor</string>
		<string>-WOPort</string>
		<string>56789</string>
		<string>-_DeploymentDebugging</string>
		<string>false</string>
	</array>
	<key>ServiceIPC</key>
	<false/>
	<key>UserName</key>
	<string>appserver</string>
	<key>StandardOutPath</key>
	<string>/Library/WebObjects/Logs/womonitor.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/WebObjects/Logs/womonitor.log</string>
</dict>
</plist>

